<html>
	<head>
		<title> Form </title>

	</head>

	<body>
        <h2>Kindly Fill This Registration Form</h2>
		<form method="POST">
			{{form.csrf_token}}

            <label>{{form.name.label}}</label>
			{{ form.name }}<br>
            <label>{{form.email.label}}</label>
			{{ form.email }}<br>
            <label>{{form.contact.label}}</label>
			{{ form.contact }}<br>
            <label>{{form.city.label}}</label>
			{{ form.city }}<br>
            <label>{{form.company.label}}</label>
			{{ form.company }}<br>

            <input type='submit' value='submit'>
		</form>


	</body>


</html>

